<h1>New Info</h1>
<%= simple_form_for @user_informations do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :role %>
  <%= f.input :business_name %>
  <%= f.button :submit %>
<% end %>
